$color-primary: #f4831f !default;
$color-secondary: #00777a !default;
$color-success: #00c781 !default;
$color-danger: #ff4040 !default;
$color-light: #ffffff !default;

$grey-1: #555555 !default;
$grey-2: #cccccc !default;
$grey-3: #3e3e3e !default;